# Inferred task only
trainer_type: parallel
random_seed: 42

wandb:
  project: "timing_context"
  offline: false  # Set to true for offline mode

tasks:
  - task_type: instructed # for logging metrics
    weight: 0.0
    task:
      trials_per_sequence: 40
  - task_type: inferred
    weight: 1.0
    task:
      trials_per_sequence: 40

model:
  hidden_size: 256
  tau: 100.0
  activation: elu

training:
  learning_rate: 1e-4
  batch_size: 128
  total_steps: 4000
  log_interval: 20
  num_eval_samples: 128
  checkpoint_interval: 500
  log_dir: logs/inferred
  optimizer_type: adam
  clip_grad_norm: 1.0
